<div class="container">
  <div class="jumbotron">
    <h1>Bryan Goolsby</h1>
    <p>"Junior Developer looking forward to expanding my knowledge and continuing to grow!"</p>
  </div>
</div>
<div class="container"> 
  <div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a routerLink="home">HOME</a></li>
          <li><a routerLink="projects">PROJECTS</a></li> 
          <li><a routerLink="about">ABOUT</a></li>          
        </ul>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>

<footer>
  <div>
    <p>This is a test for a footer.</p>
  </div>
</footer>